# Configs
*.env*
*.pem

# Logs
*.log

# IDEs and editors
.project
.classpath
*.launch
.settings/
.travis.yml

#Tests
spec/
test/


#tmp
tmp/

#Docs
docs/
README.md

#Docker files
docker-compose*.yml
Dockerfile*

#package
package*.json

#deploy
deploy/

Gemfile.lock

webapp.conf.template
env-example.txt

# System Files
.DS_Store
Thumbs.db

webapp.conf

.git
.gitignore
.keep
