#Rails environment
RAILS_ENV=<railsenv>

#This is required by QA and prod to run properly.  Run the command 'rake secret'
#and it will generate a randomized secret key.
SECRET_KEY_BASE=<run 'rake secret' and place here in qa and prod>

#PGSQL 
DATABASE_NAME=<dbname>
DATABASE_USER=<dbuser>
DATABASE_PASSWORD=<password>
DATABASE_HOST=<db_hostname>

DRS2_SERVICE_APPKEY=<appkey>
OASIS_URL=<oasis url>

DRS2_SERVICE_BASE_URL=<service base url>
NRS_RESOLVER_URL=<resolver url>
FTS_SEARCH_URL=<search url>
 
# properties related to SSL
CLIENT_KEYSTORE_PATH=<keystore path>
CLIENT_KEYSTORE_PASS=<keystore password>
CLIENT_TRUSTSTORE_PATH=<truststore path>
CLIENT_TRUSTSTORE_PASS=<truststore pass>

EMAIL_HOST=mailhub.harvard.edu
EMAIL_PORT=25
EMAIL_FROM=listviewnoreply@harvard.edu
EMAIL_LINK_DOMAIN=listview.lib.harvard.edu
EMAIL_LINK_PORT=80

LOG_LEVEL=warn